.sidebarMainContainer{
    /* border:2px solid green; */
    width: 20%;
    border-radius: 10px;
    height: 98%;
    background-image: linear-gradient(to bottom, rgb(37, 35, 35));
}

.sidebarTopSection{
    height: 15%;
    /* border: 2px solid red; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.741);
}

.sidebarTopSection h1{
    font-size: 1rem;
}

.sidebarTopSection p{
    font-size: 1rem;
}

.sidebarMiddleSection{
    height: 38%;
    /* border: 2px solid red; */
    overflow-y: scroll;
}

.sidebarMiddleCards{
    /* border: 2px solid red; */
    margin: 1.5rem .5rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgb(64, 63, 63);
}

.sidebarMiddleCards h1{
    font-size: 1rem;
    margin-bottom: .5rem;
}

.sidebarMiddleCards p{
    font-size: .8rem;
    margin-bottom: 1rem;
}

.sidebarMiddleCards button{
    padding: .5rem 1rem;
    background: white;
    color: black;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: .9rem;
    font-weight: 700;
}

.sideBottomSectionTopContainer{
    padding: 1.3rem;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid green; */

}

.sideBottomSectionTopContainer p{
    margin: .5rem;
    font-size: .7rem;
}

.sideBottomSectionBottomContainer{
    /* border: 2px solid green; */
    margin-bottom: 1rem;
}

.sideBottomSectionBottomContainer p{
    margin: .3rem;
    margin-left: 1.7rem;
    font-size: .8rem;
    font-weight: 700;
}

.sideBottomSectionBottomContainer button{
    color: white;
    border-radius: 50px;
    background-color: transparent;
    padding: .5rem 1rem;
    border: 1px solid white;
    outline: none;
    margin-left: 1.7rem;
}